[Unit]
Description=Turn TV On at 06:00 Daily
Requires=tv-on.service

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
